
# * matches within a single directory level
# ** matches across any number of directories recursively including none

# ===========================================================================================================
# Client


**/.vscode
**/.env
**/node_modules



# ===========================================================================================================

# Server

server/node_modules
server/.env
server/submissions
