/* SplitLayout.css */
.split-container {
  display: flex;
  
}

.code-container,
.editor-container {
  flex: 1;
  overflow: auto;
  min-width: 0;
}

.verticalsplitter {
  width: 5px;
  cursor: col-resize;
  background-color: #ccc;
}

.horizontalsplitter {
  height: 5px;
  cursor: row-resize;
  background-color: #ccc;
}

/* Optional styles for better visualization */
.code-container {
  background-color: #f0f0f0;
  padding: 0px;
}

.editor-container {
  background-color: #fff;
  padding: 0px;
}

.language-selector {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

/* Optional styles for the select element */
select {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* for footer */

.line-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.line-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; /* Make the container occupy full available width */
  padding: 5px;
}

.line-2 textarea {
  flex: 1; /* Make the textarea take all available space and expand */
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  resize: none; /* Disable textarea resizing handle */
  overflow: hidden; /* Hide any content overflow */
  min-height: 32px; /* Set a minimum height for the textarea */
  max-width: 60%;
  padding: 10px;
}

/* Optional styles for footer elements */
input {
  padding: 4px;
  margin-bottom: 8px;
  width: 50%; /* Make the input occupy full available width */
}

button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}